<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <!--<h5 class="my-0 mr-md-auto font-weight-normal">Wilbur</h5>-->
  <a routerLink="/"></a><img class="logo my-0 mr-md-auto" src="assets/logo2.svg" alt="Cors">
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="p-2 text-dark" routerLink="/http-headers" routerLinkActive="active">Request Headers</a>
    <a class="p-2 text-dark" routerLink="/faq" routerLinkActive="active">FAQ</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink="/request" routerLinkActive="active">Make Request</a>
</header>
