<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">Wilbur &copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Authors</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Ralph Waldo Emerson</a></li>
        <li><a class="text-muted" href="#">Henry David Thoreau</a></li>
        <li><a class="text-muted" href="#">Margaret Fuller</a></li>
        <li><a class="text-muted" href="#">Amos Bronson Alcott</a></li>
        <li><a class="text-muted" href="#">Louisa May Alcott</a></li>
        <li><a class="text-muted" href="#">Walt Whitman</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Artists</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Jean Metzinger</a></li>
        <li><a class="text-muted" href="#">Albert Gleizes</a></li>
        <li><a class="text-muted" href="#">Fernand Léger</a></li>
        <li><a class="text-muted" href="#">Robert Delaunay</a></li>
        <li><a class="text-muted" href="#">Henri Le Fauconnier</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
